body{
    font-family: "Montserrat", sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    font-family: "Montserrat-Bold";
}


h3{
    font-weight: bold;
}
p{
    color: #8f8f8f;
    font-weight: bold;
}
/* Headings */

.big-heading{
    font-family: "montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}
.section-heading{
    font-size: 3rem;
    line-height: 1.5;
}

/* Title */


#title{
    background-color: #ff4c68;
    color: #fff;
}
.intro{
    font-family: "Montserrat", sans-serif;
    font-size: 3rem;
    line-height: 1.5;
    font-weight: 900;
}
.container-fluid{
    padding: 3% 15%;
}

/* Navigation Bar */
.navbar{
    padding-bottom: 4.5rem;
}
.navbar-brand{
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
}
.nav-item{
    padding: 0 18px;
}
.nav-link{
    font-family: "Montserrat", sans-serif;
    font-weight: 300;
    font-size: 1.2rem;
}
.title-image{
    transform: rotate(25deg);
    width: 60%;
}
.features-div{
    text-align: center;
}
.features-div h3{
    font-weight: 700;
    font-family: "montserrat", sans-serif;
}
.features-div p{
    color: #8f8f8f;
    margin: auto;
}
.features-logo{
    color: #ef8172;
    font-size: 3rem;
    transition: all ease .25s;
}
.features-logo:hover{
    color: #ff4c68;
}
h2{
    font-family: "Monserrat";
    font-size: 3rem;
    line-height: 1.5;
}

/* Testimonials */

#testimonials{
    padding: 7% 15%;
    text-align: center;
    background: #ff4c68;
    color: #fff;
}
.testimonial-image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}
#press{
    background-color: #ff4c68;
    text-align: center;
    padding-bottom: 3%;
}
.press-logo{
    width: 15%;
    margin: 20px 20px;
}

/* Pricing */

#pricing{
    padding: 100px;
    text-align: center;
}
.price-text{
    font-size: 3rem;
    line-height: 1.5;
}
.pricing-columun {
    padding: 3% 2%; 
}

/* Call to Action */

#cta{
    background-color: #ff4c68;
    color: #fff;
    padding:7% 15%;
    text-align: center;
}
#cta h3{
    margin: 0 0 20px;
}
.cta-heading{
    font-family:"Montserrat-Black";
    font-size: 3.5rem;
    line-height: 1.5;
}

/* Footer */

#footer{
    padding:7% 15%; 
    text-align: center; 
}
#footer p{
    margin: 20px 0 0;
    font-weight: 400;
}
.social-icon {
    margin: 20px 10px;
}

/* Media Query */

@media (max-width: 1028px){
    #title{
        text-align: center;
    }
    .title-image{
        position: static;
        transform: rotate(0);

    }    
}